# Extraction process

In [86]:
from pymongo import MongoClient
import access

LINK = "cluster0.ea7z2.mongodb.net/test?authSource=admin&replicaSet=atlas-12cjke-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true"
USERNAME = access.USERNAME
PASSWORD = access.PASSWORD
client = MongoClient("mongodb+srv://%s:%s@%s" %(USERNAME, PASSWORD, LINK))

In [87]:
db = client.get_database('company')
collection = db.payments

In [88]:
print("How many documents are there in total? ans=%s" %(collection.count_documents({})))# get all

How many documents are there in total? ans=10000

In [89]:
query = { "status": "pending_payment" }
print('¿How many payments are pending of payment? ans=%s'%(len(list(collection.find(query)))))

¿How many payments are pending of payment? ans=1881

In [90]:
query = { "status": "paid" }
print('¿How many payments were paid? ans=%s'%(len(list(collection.find(query)))))

¿How many payments were paid? ans=5892

In [91]:
query = { "status": "refunded" }
print('¿How many payments were refunded? ans=%s'%(len(list(collection.find(query)))))

¿How many payments were refunded? ans=93

In [92]:
query = { "created_at": {"$lt": '2019-02-01'} }
print('¿How many payments were created in January? ans=%s'%(len(list(collection.find(query)))))

¿How many payments were created in January? ans=2069

In [93]:
query = { "$and": [ {"created_at": {"$gte":"2019-03-1"} }, { "created_at": {"$lt":"2019-04-1"} } ] }
print('¿How many payments were created in March? ans=%s'%(len(list(collection.find(query)))))

¿How many payments were created in March? ans=2382

In [94]:
import pandas as pd

path = '../data/data_prueba_tecnica_.csv'
df = pd.read_csv(path)
    
df.name.unique()

array(['MiPasajefy', 'Muebles chidos', nan, 'MiPas0xFFFF', 'MiP0xFFFF'],
      dtype=object)

In [76]:
df[df.company_id == '*******']
#df.info()

,id,name,company_id,amount,status,created_at,paid_at
603,701ed7d3e728c41ecf58639f64de12d7dc2fc4df,MiPasajefy,*******,92.66,paid,2019-02-27,2019-02-27

In [49]:
df.replace(df.name.unique()[-2], 'MiPasajefy', inplace=True)

In [50]:
com_name = df[df.company_id == df.company_id.unique()[-1]].name.values[0]
c_id = df[df.name == com_name].company_id.iloc[0]
df.replace(df.company_id.unique()[-1], c_id, inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          9997 non-null   object
 1   name        9997 non-null   object
 2   company_id  9996 non-null   object
 3   amount      10000 non-null  float64
 4   status      10000 non-null  object
 5   created_at  10000 non-null  object
 6   paid_at     6009 non-null   object
dtypes: float64(1), object(6)
memory usage: 547.0+ KB

In [56]:
com_name = df[df.company_id == df.company_id.unique()[-2]].name.values[0]
c_id = df[df.name == com_name].company_id.iloc[0]

,id,name,company_id,amount,status,created_at,paid_at
78,496d2511ac4e58e78d6540142590c54e507af7d9,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,5599.0,pending_payment,2019-02-19,NaN
149,0721dfedacebe920239e1b20265b91cb925d52da,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,7313.1,pending_payment,2019-04-02,NaN
174,f62b8330618ae438ea8fec2de21b58ead5a33fe8,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,7999.0,pending_payment,2019-03-27,NaN
177,09151ac974a0ea1bb172c2632752b1e3d80d1b96,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,699.0,paid,2019-04-29,2019-04-29
244,51258a0e4f9a5a5d89ea80cefa5a3ef9e9df6692,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,3068.0,paid,2019-02-22,2019-02-25
...,...,...,...,...,...,...,...
9604,331f9c2ae12912e4102b3f75bcd331040c8f37a2,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,7997.0,pending_payment,2019-02-07,NaN
9700,50b6a77d83712a2121f396471f344818fbb51e6a,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,6617.0,pending_payment,2019-04-18,NaN
9748,25c503f4190720e7fd3a92bbe67490e3e4c6bb1e,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,9999.0,paid,2019-01-26,2019-01-26
9779,20bbe7f6a5a05425c19c454e04dfa4dda57dd7e5,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,489.0,paid,2019-02-28,2019-02-28
9790,ac6bf9129f31fb2c3ba5bdfcb8fc3d23ced4ec09,Muebles chidos,8f642dc67fccf861548dfe1c761ce22f795e91f0,7999.0,pending_payment,2019-01-24,NaN

In [62]:

df.company_id.unique()[-2:]

array(['8f642dc67fccf861548dfe1c761ce22f795e91f0', nan], dtype=object)

In [63]:
df.name.unique()[-2:]

array([nan, 'MiP0xFFFF'], dtype=object)